@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.site-header {
  border-top: 8px #faba2a solid;
  padding-top: 21px;
  background-color: #0095ff;
}
.site-header-srow {
  background-color: #0095ff;
}

.navbar-brand img{
  width: 150px;
}
.container{
  width:100%;
}
.navbar-toggler{
  float: right;
}

.nav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .nav .search-container {
    float: none;
  }
  .nav a, .nav input[type=text], .nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav input[type=text] {
    border: 1px solid #ccc;  
  }
}

@media screen and (max-width: 411px) {
  .nav .search-container {
    float: none;
  }
  .nav a, .nav input[type=text], .nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.btn-login{
  border-radius: 50px;
  border-width: 2px;
  font-weight: 500;
}
.btn-category{
  border-radius: 50px;
  border-width: 2px;
  font-weight: 500;
}
.btn-outline-primary {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}

.btn-outline-primary:hover {
  color: #0095ff;
  background-color: #fff;
  border-color: #fff;
}

.navbar-toggler-icon {
  border-color: #fff !important;
}
/* .search{
  margin: 10px 0;
} */
.book{
  float: left;
  height: 260px;
  /*width: 250px;*/
  /*padding-bottom: 50px;*/
  text-align: center;
  padding-left: 15px;
  /*padding-right: 15px;*/
}
.reduce{
  height: 80%;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}
.cat-heading{
  padding-top: 25px;
    padding-left: 25px;
    font-size: x-large;
    font-weight: 400;
    color: #0095ff;
}
.lead{
  font-weight: 400;
}

.seperator{
  border-top: 1px solid #faba2a;
}
.social a{
  font-size:2em;
  padding:1.5rem;
}
.fa-facebook-f{
  color:#3b5998;
}
.fa-twitter{
  color:#00aced;
}
.fa-youtube{
  color:#ff0000;
}
.fa-linkedin-in{
  color:#0077B5;
}



/*Login*/
.ml-3, .mx-3 {
  margin-left: 1rem!important;
}
.md-forms {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.md-forms .prefix {
  position: absolute;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
.md-forms .prefix {
  top: .25rem;
  font-size: 1.75rem;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

svg:not(:root) {
  overflow: hidden;
}
.grey-text {
  color: #9e9e9e!important;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.md-forms .prefix~input, .md-forms .prefix~textarea {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
}
.svg-inline--fa.fa-w-14 {
  width: .875em;
}
.md-forms .prefix~label {
  margin-left: 2.5rem;
}
.md-forms label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #757575;
}

.md-forms label {
  font-size: 1rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.md-forms .prefix~input, .md-forms .prefix~textarea {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
}

.md-forms input[type=date], .md-forms input[type=datetime-local], .md-forms input[type=email], .md-forms input[type=number], .md-forms input[type=password], .md-forms input[type=search-md], .md-forms input[type=search], .md-forms input[type=tel], .md-forms input[type=text], .md-forms input[type=time], .md-forms input[type=url], .md-forms textarea.md-textarea {
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
}
.md-forms .validate {
  margin-bottom: 2.5rem;
}
.md-forms .form-control {
  margin: 0 0 .5rem 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: .3rem 0 .55rem 0;
  background-image: none;
  background-color: transparent;
  height: auto;
}
/* .form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
/* .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */


.md-forms .prefix~label {
  margin-left: 2.5rem;
}

.md-forms label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #757575;
}
.md-forms label {
  font-size: 1rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
label {
  cursor: default;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.modal-footer .si {
  background-color: #0095ff!important;
  color: #fff!important;
}
.modal-footer .su {
  background-color: #faba2a!important;
  color: #fff!important;
}


/* new */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.loginbtn {
    background-color: #0095ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #faba2a;
    color: white;
    float:right;
}
.okbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #0095ff;
  color: white;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


/* categories */
.ackbtn{
  width:100%;
  font-size: x-large;
}

.btn-expand{
  border-radius: 50px;
  border-width: 2px;
  font-weight: 500;
}

.btn-collapse{
  border-radius: 50px;
  border-width: 2px;
  font-weight: 500;
}


/* books */
.checked {
  color: #faba2a;
  font-size:22px;
}
.unchecked {
  color: #fff0cd;
  font-size:22px;
}
.download{
  /* padding-left:50px;
  padding-right:50px; */
  width:100%;
  border-radius: 50px;
  background-color: #0095ff;
}
.share{
  border-radius:50px;
  color:#faba2a;
}
.share:hover{
  color:#fff;
}
.bookdetail{
  float: left;
  height: 260px;
  /*width: 250px;*/
  /*padding-bottom: 50px;*/
  text-align: center;
  /* padding-left: 15px; */
  /*padding-right: 15px;*/
}
.rate {
  color: #a0a0a0;
  font-size:36px;
}
.rated {
  color: #faba2a;
  font-size:36px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








